// app
$primary-app-bg: #37B4B4;
$seconday-app-bg: #3D4550;

// text
$primary-text-color: #CECDC8;
$secondary-text-color: #607181;


// tabs 
$primary-tabs-bg :#3D4550;
$secondary-tabs-bg :#2E343C;
$primary-tabs-bg :#3D4550;

//
$primary-btn-bg: #37B4B4;

// overlay
$primary-loading-color: #37B4B4;

//tabs - container
$primary-tabs-container-bg: $primary-tabs-bg;
$seconday-tabs-container-bg: #48515E;




//$seconday-app-bg:#E2F6F7;
//$primary-app-bg:#34B0E0;